:root {
  --primary: rgb(173, 238, 250);
  --primary2: rgb(1, 211, 248);
  --primary3: rgb(3, 67, 126);
  --primary4: rgb(2, 49, 93);
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--primary);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: var(--primary2);
}
ul {
  list-style: none;
}
.navbar {
  background-color: var(--primary3);
}
.unordered {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.unordered li {
  display: inline-block;
  padding: 5px 0;
}
.unordered li:hover {
  transition: ease 0.2s;
  transform: translate(-1px);
}
.unordered li a {
  display: inline;
}
.unordered li a:hover {
  transition: ease-in-out 0.2s;
}

.navbar-small {
  display: none;
  width: 100%;
}
.unordered-small {
  width: 100%;
}
.unordered-small li:hover {
  transition: ease 0.5s;
  transform: translateX(5px);
  background-color: var(--primary4);
}
.unordered-small li a {
  width: 100%;
  padding: 10px 0 10px 10px;
  transition: ease 0.2s;
}
.toggle {
  color: white;
  width: 20px;
  height: 20px;
  background-color: var(--primary2);
  margin: 10px;
  border: none;
  border-radius: 1px;
  display: none;
}
.small {
  display: flex;
  justify-content: space-between;
  background-color: var(--primary3);
}
@media screen and (max-width: 680px) {
  .navbar {
    display: none;
  }
  .navbar-small {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 0;
  }
  .toggle {
    display: block;
  }
}
@media screen and (min-width: 680px) {
  .small {
    display: none;
  }
}
